nav.navbar.navbar-white {
    padding: 0 16px;
    height: 70px;
}

nav.navbar.navbar-blue {
    padding: 0 16px;
}

#familyLink {
    padding: 14px 8px;
}

a#familyLink,
a#familyLink:hover {
    color: #fff;
}

.nav-item>a:link.nav-link {
    color: #83A7BF;
    padding: 22px 30px;
}

a.nav-link.dropdown-toggle.family {
    color: #fff;
    cursor: pointer;
}

li>a.active {
    border-bottom: 2px solid #1f385a;
    color: #1f385a !important;
}


a:link#close {
    color: #fff !important;
    background-color: #83a7bf;
    padding: 0 8px;
    margin-top: 15px;
    margin-left: 30px;
}


.tab-content {
    background-color: #f2f6f8;
}

h5.site {
    color: #00588a;
}

.btn.btn-primary {
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    background: #1f385a;
    border: #1f385a;
    border-radius: 0;
}

.dark-blue {
    background-color: #02314d;
}

.min-350 {
    min-height: 350px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .tab-content {
        margin-top: 270px;
    }
}

@media (max-width: 768px) {
    nav.navbar.navbar-white {
        height: 150px;
    }

}